body {
    background-color: #212E4A;
}
.text-h1 {
    color: #F8DB27;
}
.text-h2 {
    color: #F8DB27;
}
.text-h3 {
    color: #FF81C1;
}
.text-h5 {
    color: #F8DB27;
}
.text-subtitle-1 {
    color: white;
}
.full-height {
    height: 100vh;
}
.special-color {
    color: #FF81C1;
}
.special-color02 {
    color: #F8DB27;
}
.truncate-text {
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.special-font {
    font-family: Joti One;
}
@keyframes flyIn-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes flyIn-right {
    from {
        transform: translateX(+100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.post-text {
    font-size: 1.5rem;
    color: #FFFFFF;
}