body {
    background-color: black;
    font-family: Silkscreen, Arial, Helvetica, sans-serif;
    font-weight: 100;
}

h1 {
    color: white;
}

h2 {
    display: block;
    color: #00DE59;
    font-size: 5vh;
}

p {
    color: white;
}

.contentBox {
    padding: 0 9vw;
}

.contentBoxMini {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contentBoxMini p {
    width: 35vw;
}
.contentBoxMini img {
    border: 1px white solid;
    width: 50rex;
    height: 50rex;
    transition: 1s;
}
.contentBoxMini .progress {
    width: 15vw;
    height: 15vh;
    margin: 2vh 2vw;
    border: none;
    border-radius: 4rem;
    background-color: white;
    transition: 1s;
    font-weight: 700;
}
.contentBox02 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    transition: 1s;
}
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  
  @keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  
  .contentBox02 > * {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  
  .contentBox02 > *:hover, .contentBox02 > *:focus, .contentBox02 > *:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
.contentBoxMini .progress:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.contentBoxMini .progress span:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contentBoxMini img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media only screen and (max-width: 950px) {
    .contentBox {
        padding: 0 3vw;
    }
    .contentBox {
        display: flex;
        justify-content: center;
    }
    .contentBoxMini {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    .contentBoxMini p {
        width: auto;
        text-align: center;
    }
    .contentBoxMini img {
        width: auto;
    }
}

@media only screen and (max-width: 1250px) {
    
}